[Desktop Entry]
Type=Application
Exec=nm-applet & disown
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=NetworkManager
Name[en_US]=NetworkManager
Comment=
Comment[en_US]=

