[Desktop Entry]
Type=Application
Exec=sh /home/cs/.local/bin/startup.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=startup.sh
Name=startup.sh
Comment[en_US]=
Comment=
