"*":
  core:
    telemetryConsent: "no"
    themes: [
      "dracula-ui"
      "dracula-syntax"
    ]
  editor:
    defaultFontSize: 16
    fontFamily: "Hack Nerd Font"
    fontSize: 16
    showIndentGuide: true
    softWrap: true
  "exception-reporting":
    userId: "61c0fb46-ddea-4bf5-a45f-fc568cb39a38"
  fonts:
    fontFamily: "Hack"
    secondaryFonts: "\"Hack Nerd Font\""
  minimap:
    plugins:
      pigments: true
      pigmentsDecorationsZIndex: 0
  welcome:
    showOnStartup: false
