/*
 Style for the WallpaperControlWidget
 */
.controls{
    spacing: 5px;
    padding-left: 58px;
}

.overlay{
    padding-top: 0px;
    padding-left: 0px;
}

.untoggled {
    color: #808080;
}

.middle-aligned {
    text-align: center;
    span: -1;
}
