/* 
* Makes tabs only 22px high rather than the default 29px
* Only works on compact mode, otherwise tab height will be normal
*
* Contributor(s): DrPugsley
*/

/* window { */
/*     font-size: 12px !important; */
/* } */

/* menubar, */
/* menubutton, */
/* menulist, */
/* menu, */
/* menuitem, */
/* textbox, */
/* toolbar, */
/* tab, */
/* tree, */
/* tooltip { */
/*     font-size: 12px !important; */
/* } */

[uidensity='compact']:root {
    --tab-max-height: 28px !important;
    --newtab-margin: -3px 0 -3px -3px !important;
}

:root[uidensity='compact'] #tabbrowser-tabs {
    --tab-min-height: var(--tab-min-height) !important;
}

.tabbrowser-tab {
    max-height: var(--tab-min-height) !important;
}

.tabs-newtab-button {
    margin: var(--newtab-margin) !important;
}

/* Remove padding on urlbar results */
.urlbarView-row {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

/* Remove padding on urlbar (icons on the right break without this) */
#urlbar-input-container {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

/* Reduce "breakout" navbar height */
#urlbar[breakout][breakout-extend] > #urlbar-input-container {
    height: calc(var(--urlbar-toolbar-height) - 4px) !important;
}

/* Fix breakout positioning being too high after we decreased the height */
#urlbar[breakout][breakout-extend] {
    top: 2px !important;
}

/* Remove padding on search one offs div */
.search-one-offs {
    padding-block: 0px !important;
}

/* Fix padding left of the search one-off icons */
.search-panel-one-offs {
    padding-left: 7px !important;
}

/* Remove margins around the search one-off icons */
.searchbar-engine-one-off-item {
    margin: 0px !important;
}
