# m h dom mon dow command
@hourly /home/cs/.local/statusbar/weather.py
@hourly /home/cs/.local/statusbar/dnf-updates
@reboot /home/cs/.local/statusbar/dnf-updates
@reboot dnf history userinstalled > /home/cs/Documents/backup/pkgs/user-pkgs
