# m h dom mon dow command
@hourly /home/$USER/.local/statusbar/sb-clock
# @daily /home/$USER/.local/statusbar/moonphase
@hourly /home/$USER/.local/statusbar/openweather-emoji
@daily /home/$USER/.local/bin/pkg-dump
0 */6 * * * /usr/bin/reflector -c US --protocol https --age 6 --sort rate --number 50
